.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ee665cb0;
}

.login_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login_header img {
  width: 100px;
}

.login_header h1 {
  color: #333;
  font-size: 1.5em;
}

.login_input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
  outline: none;
  padding: 15px;
}

.login_button {
  background-color: #ee665c;
  border-radius: 8px;
  color: #ffff;
  font-size: 1em;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
  padding: 15px;
}

.login_button:disabled{
  background-color: rgb(198, 183, 183);
  color: rgba(244, 240, 240, 0.635) ;
  cursor: auto;
}